
.Home {
    text-align: center;
    padding: 20px;
  }
  
  .dark-mode {
    background-color: rgb(96, 95, 95);
    color: rgb(0, 0, 0);
  }
  
  .content {
    margin-top: 20px;
  }
  
  .dark-mode .content {
    color: rgb(0, 0, 0);
  }
  

  